<ifModule mod_rewrite.c>

#Se activa el Rewrite
RewriteEngine On

ErrorDocument 404 http://localhost/proyecto_clasificados/error/

#No se podrá llamar a archivos en la URL, solo escribir url válidas
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

#Esto es reescribir la url y que le de este formato
   RewriteRule ^([^/]+)/([^/]+)$ index.php?controller=$1&action=$2 [QSA,L]

</ifModule>